html, body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.icons li {
  margin: 2px auto;
}

.icons a {
  color: white;
}

.icons a:hover {
  color: lightgray;
}

.icons img, .icons i {
  width: 25px;
  height: 24px;
  vertical-align: bottom;
}

.fixed-top {
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:1030;
}

nav ul li:hover {
  background-color: purple;
}

.scrolled {
  transition: background-color 300ms linear;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.center-fit {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}