html,
body {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: rgb(255, 255, 255, 0.8);
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.icons li {
  margin: 2px auto;
}

.icons a {
  color: white;
}

.icons a:hover {
  color: lightgray;
}

.icons img,
.icons i {
  width: 25px;
  height: 24px;
  vertical-align: bottom;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

nav ul li:hover {
  background-color: grey;
}

.scrolled {
  transition: background-color 300ms linear;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

.center-fit {
  width: 100%;
  height: 100%;
  margin: auto;
}

.center-fit-media {
  width: 100%;
  height: 250px;
  margin: auto;
}

#parallax-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 0;
  height: 100%;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all 2.5s ease-in-out;
  -moz-transition: all 2.5s ease-in-out;
  -o-transition: all 2.5s ease-in-out;
  transition: all 2.5s ease-in-out;
}

.contact {
  background: url(../images/erin-sydney.jpeg);
}

.events {
  background: url(../images/main.JPG);
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-title {
  position: relative;
  margin: 0 auto;
  bottom: 25%;
}

#parallax-mobile {
  display: none;
  width: 100%;
  height: 100%;
  height: 250px;
  /* background: linear-gradient(0deg,
      rgba(250, 0, 150, 0.3),
      rgba(250, 0, 150, 0.3)); */
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1));
}

#parallax-mobile-title {
  display: none;
}

#parallax-img {
  display: none;
}

.no-parallax {
  position: relative;
  width: 100%;
  height: 250px;
}

/* Index Page */
.content,
.wrapper:before {
  box-sizing: border-box;
  display: block;
  font-size: 4em;
  padding-top: 0.75em;
  width: 6em;
  height: 3em;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.content {
  /* font-weight: bold; */
  text-align: center;
  z-index: 1;
  background: rgb(255, 255, 255, 0);
  color: #000;
  mix-blend-mode: lighten;
}

.content a {
  color: white;
}

#index-banner-home {
  position: relative;
  /* height: 30%; */
  background: #000;
  z-index: 1000;
  padding: 50px 0;
}

section {
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
  position: relative;
  padding: 1em;
  height: 100vh;
}

.wrapper {
  clip: rect(auto auto auto auto);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrapper:before {
  content: " ";
  padding: 2em 3.5em;
  mix-blend-mode: darken;
}

.one {
  /* background: url(../images/action.jpg);
  background-size: 100% 100%; */
  background-size: 100% 100%;
  background-image: url(../images/main.JPG);
  /* z-index: 1020; */
  background-position: 0 0;
}

.one .wrapper:before {
  background: rgb(0, 0, 0, 0.7);
}

.two {
  background-size: 50% 100%;
  background-image: url(../images/erin-sydney-outside.jpeg), url(../images/vetanda-dancing.jpeg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}

.two .wrapper:before {
  background: red;
}

.three {
  /* background: url(../images/schedule.jpg);*/
  background-size: 100% 100%;
  background-image: url(../images/vetanda-promo-moment.jpg);
}

.three .wrapper:before {
  background: rgb(0, 0, 0, 0.7);
}

.four {
  background-size: 50% 100%;
  background-image: url(../images/sydney-rail.JPG), url(../images/erin-back.JPEG);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}

.four .wrapper:before {
  background: red;
}

.five {
  background-size: 100% 100%;
  background-image: url(../images/erin-sydney-home.jpeg);
}

.five .wrapper:before {
  background: rgb(0, 0, 0, 0.7);
}

/* About Page */
.about-ctr {
  margin-right: 2.5%;
  margin-left: 2.5%;
  padding: 0 25px;
}

.row-about {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column-about {
  flex: 50%;
  padding: 0 4px;
  text-align: center;
}

.column-about img {
  display: block;
  width: 50%;
  /* height: 400px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

/* About Page */
.media-ctr {
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.row-media {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column-media {
  flex: 50%;
  padding: 0 4px;
}

.column-media video {
  margin-top: 8px;
  vertical-align: middle;
}

.column-media img {
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
}



/* Style the Image Used to Trigger the Modal */
.column-media video,
.column-media img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.column-media video:hover,
.column-media img:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  /* overflow: auto;  */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 40%;
  /* max-width: 700px; */
  /* max-height: 600px; */
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 1;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.event {
  margin-bottom: 80px;
}

.event h4 {
  margin: 40px 0;
}

.event .col {
  margin-bottom: 40px;
}

.event img {
  display: block;
  width: 50%;
  /* height: 75px; */
  position: relative;
  margin: 0 auto;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }

  section {
    /* width: 50%; */
    background-size: auto;
  }

  .column-about {
    flex: 100%;
  }

  .column-about img {
    width: 75%;
  }

  .event img {
    width: 50%;
    margin: 0 auto;
  }

  .name {
    font-size: 1.2em;
  }

  .one {
    background-size: 150% 100%;
    background-position: 50% 0;
  }

  .two {
    background-size: 150% 100%;
    background-image: url(../images/vetanda-dancing.jpeg);
    background-position: 60% 0;
  }

  .three {
    background-size: 200% 100%;
    background-position: 30% 0;
  }

  .four {
    background-size: 150% 100%;
    background-position: 50% 0;
    background-image: url(../images/erin-sydney-home.jpeg);
  }

  .five {
    background-size: 150% 100%;
    background-image: url(../images/bar-red.jpg);
    background-position: 50% 0;
  }
}

@media only screen and (max-width: 425px) {

  .one {
    background-size: 200% 100%;
    background-image: url(../images/vetanda-dancing.jpeg);
    background-position: 40% 0;
  }

  .two {
    background-image: url(../images/erin-sydney-outside.jpeg);
    background-size: 200% 100%;
    background-position: 50% 0;
  }

  .three {
    background-size: 300% 100%;
    background-position: 70% 0;
  }

  .four {
    background-size: 325% 100%;
    background-position: 55% 0;
  }

  .five {
    background-size: 300% 100%;
    background-position: 20% 0;
  }
}

.about-desc {
  font-size: 1.3em;
  line-height: 1.5em;
}

.page-footer {
  background-color: #313336 !important;
  z-index: 1000;
}

#myModal {
  z-index: 2000;
}

hr {
  color: #313336;
  background-color: #313336;
  border-color: rgb(255, 255, 255, 0.5);
}

#submit-btn {
  background-color: #313336;
}

#cont {
  margin: 30px 0;
}

.media-row .col {
  margin-bottom: 40px;
}